

.unused{
    color: #F5B598; 
    color: #3097CD; 
    color: #FF9831; 
    color: #4554C2; 
    color: #EAEADF; 
    color: #FA8AB2; 
    color: #1E190A; 
    color: #64C32C; 
    color: #FFE56C; 
    color: #E55A46;
}


body {
    background-color: #4554C2;
    color: #1E190A;
}

#top_row{
    display: block;
    width: 100%;
    display: inline-block;
}

#menu-button{
    text-align: right;
}
#menu {
    display: block;
    width: 46%;
    float: left;
    margin: 0%;
    padding:2%;
    
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.col-25 {
    float: left;
    width: 23%;
    margin-top: 6px;
    margin-left: 1%;
  }

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.rowl {
    background-color: #FFE56C;
}
.rowd {
    background-color: #FF9831;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.menu_submit {
    background-color: #2ad4a4; /* Green */
    border: none;
    color: #1E190A;
    padding: 5%;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 96%;
}

.menu_submit:disabled {
    background-color: #748781; /* Green */
    border: none;
    color: #1E190A;
    padding: 5%;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 96%;
}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 300px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

#room_leaderboard{
    width: 46%;
    float: left;
    margin: 0%;
    padding:2%;
    background-color: #f984dc; /* Green */
    border: 1px;
    border-color: #a7d42a;
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #menu{
        width: 96%;
        display: inline-block;
    }
    #room_leaderboard{
        width: 96%;
        display: inline-block;
    }
}

#questions{
    width:96%;
    margin:0%;
    padding:2%;
    display: inline-block;
}

#question_zone{
    background-color: #EAEADF; 
    padding: 5%;
}

#selected_answer{
    font-weight: bold;
}


.loading-bar-bg{
    background-color: #FFE56C; 
    height: 30px;
}
.loading-bar-bar{
    background-color: #E55A46;
    margin: 5px;
}

#ans {
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.ans{
    background-color: #2ad4a4; /* Green */
    border: none;
    color: #1E190A;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.ans_selected{
    background-color: #2ad4a4; /* Green */
    /* border: 2px; */
    border-width: 5px;
    border-color: #FA8AB2;
    color: #1E190A;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.ans_correct{
    background-color: #FFE56C; 
    color: #1E190A;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.lie_input{
    background-color: #EAEADF; /* Green */
    border: none;
    color: #1E190A;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.lie_input:disabled{
    background-color: #3d3e3e; /* Green */
    border: none;
    color: #d4caad;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

