{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Welcome {% endblock %}</h1>
    <div class="start_page">

        <button class="button" id="join_btn">Join A Game</button>
        <button class="button" id="create_btn">Create A Game</button> <br>
    
        <div class="start_join" id="start_join" style="display: none;">
            <form method="post">

                <input type="text" id="user_id" name="user_name" value="Enter Your Name" required><br>
                <input type="text" id="room_id" name="room_code" value="Enter The Room Code" required><br>
    
            <button id="join_submit" type="submit">Join</button>
            </form>
        </div>
        <div class="start_create" id="start_create" style="display: none;">
            <form method="post">

                <input type="text" id="user_id" name="user_name" value="Enter Your Name" required><br>
                <input type="text" id="room_id" name="room_code" value="Enter The Room Code" required><br>
    
            <button id="create_submit" type="submit">Create</button>
            </form>
        </div>
        
    </div>
{% endblock %}